// Fonts
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900");
@import url("https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css");

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//vuetify
@import '~vuetify/dist/vuetify.css';

//
@import '~@sweetalert2/themes/dark/dark.scss';

//Customs styles
.theme--dark.v-application{
    background-color: $backgroundApp;
}
.theme--dark.v-card{
    background-color: $backColor;
}
.theme--dark.v-data-table{
    background-color: $backColor;
}
.theme--dark.v-tabs-items{
    background-color: $backColor;
}
.theme--dark.v-tabs{
    .v-tabs-bar{
        background-color: $backColor;
    }
}
.fade-enter-active{
    transition-property: opacity;
    transition-duration: .25s;
    transition-delay: .25s;
}
.fade-leave-active{
    transition-property: opacity;
    transition-duration: .25s;
    opacity: 0;
}
.fade-enter{
    opacity: 0;
}
::-webkit-scrollbar{
    width: 8px;
    background-color: #111;
}
::-webkit-scrollbar-thumb{
    background-color: #222;
    &:hover{
        background-color: #444;
    }
}
::-webkit-scrollbar-track{
    -webkit-box-shadow:inset 0 0 4px rgba(0,0,0,0.6);
    background-color: #333;
    &:hover{
        background-color: #292929;
    }
}
